<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ftoul.androidclient">
    <!-- 极光推送对应权限 -->
    <permission
        android:name="com.ftoul.androidclient.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 极光推送对应权限 -->
    <uses-permission android:name="com.ftoul.androidclient.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- for mta statistics -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SDK2.1新增获取用户位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".global.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activitys.SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.LockActivity" />
        <activity android:name=".activitys.DeblockingActivity" />
        <activity
            android:name=".activitys.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activitys.GetBackPwdFirstActivity" />
        <activity android:name=".activitys.RegisterFirstActivity" />
        <activity android:name=".activitys.BillCalendarActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>

                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activitys.CaptureTreasureActivity" />
        <activity android:name=".activitys.GuideActivity" />
        <activity android:name=".activitys.SettingActivity" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".activitys.UserInfoActivity" />
        <activity android:name=".activitys.BigPhotoActivity" />
        <activity android:name=".activitys.EditNickNameActivity" />
        <activity android:name=".activitys.AddressActivity" />
        <activity android:name=".activitys.SafeManagerActivity" />
        <activity android:name=".activitys.UpdatePwdActivity" />
        <activity android:name=".activitys.RegisterSecondActivity" />
        <activity android:name=".activitys.UpdatePhoneActivity" />
        <activity android:name=".activitys.GetBackPwdSecondActivity" />
        <activity android:name=".activitys.InvestmentNowActivity" />
        <activity android:name=".activitys.web.BidDetailActivity" />
        <activity android:name=".activitys.ServiceProtrolActivity" />
        <activity android:name=".activitys.EditAddressActivity" />
        <activity android:name=".activitys.MessageActivity" />
        <activity android:name=".activitys.MessageDetailsActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxf56babe4ed01dc73" />
                <!-- 写入你的appid -->
            </intent-filter>
        </activity>
        <activity android:name=".activitys.AssetsShowActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5855091d8f4a9d3d23000cba" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- Required SDK核心功能 极光推送 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ftoul.androidclient" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <!-- Required  SDK核心功能 极光推送 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK 核心功能 极光推送 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required SDK 核心功能 极光推送 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.ftoul.androidclient" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 极光推送 -->

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.ftoul.androidclient" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 极光推送 -->

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.ftoul.androidclient" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- 推送 -->
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.ftoul.androidclient" />
            </intent-filter>
        </receiver>

        <activity android:name=".activitys.FundHistoryActivity" />
        <activity android:name=".activitys.XdtDetailActivity" />
        <activity android:name=".activitys.InvestmentDetail2Activity" />
        <activity android:name=".activitys.ContractProtrolActivity" />
        <activity android:name=".activitys.EAccountActivity" />
        <activity android:name=".activitys.EaccountUpdateActivity" />
        <activity android:name=".activitys.RechargeActivity" />
        <activity android:name=".activitys.WithdrawCashActivity" />
        <activity android:name=".activitys.OrderManagerActivity" />
        <activity android:name=".activitys.FengBoxActivity" />
        <activity android:name=".activitys.FengMiCouponsActivity" />
        <activity android:name=".activitys.DbaoListActivity" />
        <activity android:name=".activitys.JiaxiCouponsActivity" />
        <activity
            android:name=".activitys.web.HuaXinWebViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activitys.RiskTestActivity" />
        <activity android:name=".activitys.RiskTestResultActivity" />
        <activity android:name=".activitys.FengCoinActivity" />
        <activity android:name=".activitys.FbUseRuleActivity" />
        <activity android:name=".activitys.CashCouponsActivity" />
        <activity android:name=".activitys.TiyanMoneyActivity" />
        <activity android:name=".activitys.PaymentCouponActivity" />
        <activity android:name=".activitys.BindPhoneActivity" />
        <activity android:name=".activitys.ChangeVersionActivity" />
        <activity android:name=".activitys.web.HuiFuWebViewActivity" />
        <activity android:name=".activitys.ExperienceBidActivity" />
        <activity android:name=".activitys.InvestmentDetailActivity" />
        <activity android:name=".activitys.web.HelpActivity" />
        <!-- qq分享 -->
        <!--<activity-->
            <!--android:name="com.tencent.tauth.AuthActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--&lt;!&ndash; 这地方的123456需要用你在开放平台申请的appid替换 &ndash;&gt;-->
                <!--<data android:scheme="tencent123456" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!-- 第三方集成分享的那个东西 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104646053" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name="com.tencent.connect.common.AssistActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:screenOrientation="behind"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="caa48231d4a84888ecb999ee" />

        <activity android:name=".activitys.web.SimpleWebActivity"></activity>
    </application>

</manifest>